<h1>Productos</h1>
<section class="content">
    <div class="content-header">
        <h1>Menú principal de Productos</h1>
    </div>
    <div class="content px-2">
        <p>En esta sección encuentra todo lo relacionado con los productos.</p>
        
        <blockquote class="quote-info">
            <h5 id="tip">Agregar producto</h5>
            <p>Agregue productos a la Base de Datos, recuerde que es obligatorio el código de barras, nombre y proveedor.</p>
        </blockquote>

        <blockquote class="quote-info">
            <h5 id="tip">Editar producto</h5>
            <p>Si requiere cambiar o actualizar un producto lo puede hacer en esta sección, no puede dejar espacios vacíos.</p>
        </blockquote>

        <blockquote class="quote-info">
            <h5 id="tip">Consultar</h5>
            <p>Consulte el producto por el código de barras para más detalles.</p>
        </blockquote>

        <blockquote class="quote-orange mt-0">
            <h5 id="reminder">¡Recuerde!</h5>
            <p>En esta sección <strong>no encuentra cantidades</strong>, solo detalles de productos.</p>
        </blockquote>

    </div>
</section>