<h1>Productos</h1>
<section class="content">
    <div class="content px-2">
        <blockquote class="quote-olive">
            <h5 id="tip">Agregar, edite y consulte los productos</h5>
            <!-- <p>Agregue usuarios de forma fácil, solo llene los datos básicos como nombre, contraseña, correo electrónico, tipo de rol y si es activo.</p> -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-light">
                        <div class="inner">
                            <h3><i class="fa fa-plus nav-icon"></i></h3>
                            <p>Agregar</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <a  routerLink="/home/productos/agregar" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-light">
                        <div class="inner">
                            <h3><i class="fa fa-cog nav-icon"></i></h3>
                            <p>Editar</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <a  routerLink="/home/productos/editar" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-light">
                        <div class="inner">
                            <h3><i class="fas fa-copy nav-icon"></i></h3>
                            <p>Consultar</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <a  routerLink="/home/productos/consultar" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
        </div>
        </blockquote>

        <blockquote class="quote-info">
            <h5 id="tip">Consultar</h5>
            <p>Consulte el producto por el código de barras para más detalles.</p>
        </blockquote>

        <blockquote class="quote-orange mt-0">
            <h5 id="reminder">¡Recuerde!</h5>
            <p>En esta sección <strong>no encuentra cantidades</strong>, solo detalles de productos.</p>
        </blockquote>

    </div>
</section>