<h1>Productos</h1>
<section class="content">
    <div class="content-header">
        <h1>Menú principal de Productos</h1>
    </div>
    <div class="content px-2">
        <p>En esta sección encuentra todo lo relacionado con los productos.</p>
        
        <blockquote class="quote-info">
            <h5 id="tip">Crear producto</h5>
            <p>If you go through the example pages and would like to copy a component, right-click on the component and choose “inspect element” to get to the HTML quicker than scanning the HTML page.</p>
        </blockquote>

        <blockquote class="quote-info">
            <h5 id="tip">Editar producto</h5>
            <p>If you go through the example pages and would like to copy a component, right-click on the component and choose “inspect element” to get to the HTML quicker than scanning the HTML page.</p>
        </blockquote>

        <blockquote class="quote-info">
            <h5 id="tip">Consultar</h5>
            <p>If you go through the example pages and would like to copy a component, right-click on the component and choose “inspect element” to get to the HTML quicker than scanning the HTML page.</p>
        </blockquote>

        <blockquote class="quote-orange mt-0">
            <h5 id="reminder">¡Recuerde!</h5>
            <p>AdminLTE uses all of Bootstrap 4 components. It’s a good start to review the <a href="https://getbootstrap.com/">Bootstrap documentation</a> to get an idea of the various components that this documentation <strong>does not</strong> cover.</p>
        </blockquote>

    </div>
</section>