<h1>Inventarios</h1>
<section class="content">
    <div class="content-header">
        <h1>Menú principal de Invemtarios</h1>
    </div>
    <div class="content px-2">
        <p>En esta sección encuentra todo lo relacionado con el conteo de mercancía.</p>
        
        <blockquote class="quote-info">
            <h5 id="tip">Realizar conteo de mercancía</h5>
            <p>En está sección podra realizar el conteo de la mercancía para la realización de inventario períodico</p>
        </blockquote>

        <blockquote class="quote-orange mt-0">
            <h5 id="reminder">¡Recuerde!</h5>
            <p>Puede aumentar las cantidades del producto contado, pero no puede restar<strong> productos</strong>.</p>
        </blockquote>

    </div>
</section>