<h1>Editar campos del proveedor</h1>
<section class="content">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">Editar proveedor</h3>
        </div>
        
        
        <form class="form-horizontal" (ngSubmit)="guardar(f)" #f="ngForm">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    
                    <div class="col-sm-10">
                        <span *ngIf="f.submitted && f.controls['nombre'].errors"
                            class="text-danger animated fadeIn"
                            >El nombre es obligatorio.</span>
                        <input type="text" 
                                class="form-control"
                                name="nombre"
                                [(ngModel)]="proveedor.nombre"
                                placeholder="Nombre completo"
                                required
                                minlength="4"
                        >
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Linea</label>
                    <div class="col-sm-10">
                        <input type="text" 
                                class="form-control" 
                                name="id" 
                                placeholder="Linea"
                                [(ngModel)]="proveedor.id"
                                disabled
                                readonly
                                >
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Actualizar</button>
            </div>
        </form>
        <div class="form-group row ml-4">
            <button (click)='regresarPagina()' class="btn btn-default float-left">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            </button>
        </div>
    </div>

        
</section>

