<h1>Usuarios</h1>
<section class="content">
    <div class="content-header">
        <h1>Menú principal de Usuario</h1>
    </div>
    <div class="content px-2">

        <blockquote class="quote-info">
            <h5 id="tip">Agregar usuarios</h5>
            <p>Agregue usuarios de forma fácil, solo llene los datos básicos como nombre, contraseña, correo electrónico, tipo de rol y si es activo.</p>
        </blockquote>

        <blockquote class="quote-info">
            <h5 id="tip">Actualizar usuarios</h5>
            <p>Modifique los usuarios de manera ágil, seleccione el usuario dale click en el botón <i class="fa fa-pen"></i> y modifique los parámetros. </p>
        </blockquote>

        <blockquote class="quote-info">
            <h5 id="tip">Cambiar claves</h5>
            <p>Restablezca la clave de cualquier usuario.</p>
        </blockquote>

        <blockquote class="quote-info">
            <h5 id="tip">Sucursales</h5>
            <p>Puede agregar o eliminar usuarios a sucursales para mayor control.</p>
        </blockquote>

        <blockquote class="quote-orange mt-0">
            <h5 id="reminder">¡Recuerde!</h5>
            <p>No puede modificar la cuenta principal.</p>
        </blockquote>
        
        
    </div>
</section>