<h1>Roles</h1>
<section class="content">
    <div class="content-header">
        <h1>Menú principal de Roles</h1>
    </div>
    <div class="content px-2">
        <p>En esta sección encuentra todo lo relacionado con los roles de usuario.</p>
        
        <blockquote class="quote-info">
            <h5 id="tip">Editar rol</h5>
            <p>Puede modificar el nombre del rol en está sección.</p>
        </blockquote>

        <blockquote class="quote-orange mt-0">
            <h5 id="reminder">¡Recuerde!</h5>
            <p> Solo cuenta con roles:<strong> Superusuario, Administrador y usuario</strong> los cuales tienen sus propios privilegios.</p>
        </blockquote>

    </div>
</section>