<h1>Informes</h1>
<section class="content">
    <div class="content-header">
        <h1>Menú principal de Informes</h1>
    </div>
    <div class="content px-2">
        <p>En esta sección encuentra todo lo relacionado con el conteo de mercancía.</p>
        
        <blockquote class="quote-info">
            <h5 id="tip">Informe de Inventarios</h5>
            <p>Informe de conteo de la mercancía realizado.</p>
        </blockquote>

        <blockquote class="quote-info">
            <h5 id="tip">Informe de Inventarios por Proveedor</h5>
            <p>Informe de conteo de la mercancía realizado por Proveedor.</p>
        </blockquote>

        <blockquote class="quote-orange mt-0">
            <h5 id="reminder">¡Recuerde!</h5>
            <p>Puede seleccionar un Proveedor para revisar las<strong> cantidades</strong>.</p>
        </blockquote>

    </div>
</section>
