<h1>Informes</h1>
<section class="content">
    <div class="content px-2">
        <blockquote class="quote-olive">
            <h5 id="tip">Visualice los faltantes de mercancía con respecto al conteo realizado</h5>
            <!-- <p>Agregue usuarios de forma fácil, solo llene los datos básicos como nombre, contraseña, correo electrónico, tipo de rol y si es activo.</p> -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-light">
                        <div class="inner">
                            <h3><i class="fa fa-list-ol nav-icon"></i></h3>
                            <p>Informe de conteo</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file"></i>
                        </div>
                        <a  routerLink="/home/informes/informe" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-light">
                        <div class="inner">
                            <h3><i class="fa fa-list-ul nav-icon"></i></h3>
                            <p>Informe de conteo por proveedor</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file"></i>
                        </div>
                        <a  routerLink="/home/informes/informe/linea" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
        </div>
        </blockquote>

        <blockquote class="quote-orange mt-0">
            <h5 id="reminder">¡Recuerde!</h5>
            <p>Puede borrar las cantidades y el conteo de mercancía pero debe alimentar la <strong>base de datos con las cantidades</strong>.</p>
        </blockquote>

    </div>
</section>
