<h1>Informe de conteo de productos</h1>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div id="htmlData" class="col">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Informe de productos</h3>                   
                    </div>
     
                    <div class="card-body">
                        <!-- <h3 class="card-title">Total productos con existencias: {{DataArray.length}}</h3>
                        <button class="btn-xs btn-info ml-5" (click)="downloadPDF()">
                            <i class="fa fa-print" aria-hidden="true"></i>  Imprimir   
                        </button> -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Total: {{DataArray.length}}</label>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">Imprimir</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" (click)="downloadPDF()" class="btn btn-info btn-flat">
                                            <i class="fa fa-print" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            
                            
                            <label class="col-sm-1 col-form-label">Resetear tabla</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" (click)="eliminarCantidades(this.sucAct)" class="btn btn-danger btn-flat">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-group">
                                    <button (click)='regresarPagina()' class="btn btn-default float-left ml-4">
                                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Gondola</th>
                                    <th>Bodega</th>
                                    <th>Resultado</th>
                                    <th>Existencias</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let producto of DataArray  | paginate: { itemsPerPage: itemxpagina, currentPage: pagina }, let i = index">
                                    <td scope="row">{{ itemxpagina * (pagina - 1) + (i+1) }}</td>
                                <td>{{producto.codigo1}}</td>
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.gondola}}</td>
                                <td>{{producto.bodega}}</td>
                                <td>{{producto.resultado}}</td>
                                <td>{{producto.cantidad}}</td>
                                <td>{{producto.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center mt-3">
                            <pagination-controls (pageChange)="pagina = $event"
                                            previousLabel="Anterior"
                                            nextLabel="Siguiente">
                        </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
    




