<h1>Contacto</h1>
<section class="content">
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Estudiante de Ingeniería de Sistemas
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="lead"><b>Jhon Henry Barbosa González</b></h2>
                                    <p class="text-muted text-sm"><b>Acerca: </b> Diseñador Web / Administrador de servidores / Tecnólogo en Telecomunicaciones / Amante del cáfe </p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> UDI - Santander - Colombia</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Celular #: 300-4628587</li>
                                    </ul>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="../../../../assets/img/JHBG.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="https://www.linkedin.com/in/jhon-henry-barbosa-gonz%C3%A1lez-4630b71a8/" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> Ver perfil
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Estudiante de Ingeniería de Sistemas
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="lead"><b>Jhonathan Alexander Figueroa Jaimes</b></h2>
                                    <p class="text-muted text-sm"><b>Acerca: </b> Desarrollador software / UX / Tecnólogo en Sistemas / Me gusta el futbol </p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> UDI - Santander - Colombia</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Celular #: 315-5089202</li>
                                    </ul>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="../../../../assets/img/JAFJ.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <a href="https://www.linkedin.com/" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user"></i> Ver perfil
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
