<h1>Sucursales</h1>
<section class="content">
    <div class="content-header">
        <h1>Menú principal de Sucursales</h1>
    </div>
    <div class="content px-2">
        <p>En esta sección encuentra todo lo relacionado con las sucursales</p>
        
        <blockquote class="quote-info">
            <h5 id="tip">Agregar sucursal</h5>
            <p>Crea sucursales de forma fácil, solo necesita el nombre, dirección y teléfono.</p>
        </blockquote>

        <blockquote class="quote-info">
            <h5 id="tip">Actualizar sucursal</h5>
            <p>Modifique los atributos de la sucursal.</p>
        </blockquote>

        <blockquote class="quote-orange mt-0">
            <h5 id="reminder">¡Recuerde!</h5>
            <p>No se puede<strong> borrar </strong>sucursales.</p>
        </blockquote>

    </div>
</section>