<h1>Editar campos del producto</h1>
<section class="content">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">Editar producto</h3>
        </div>
        
        
        <form class="form-horizontal" (ngSubmit)="guardar(f)" #f="ngForm">
            <div class="card-body">


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Código</label>
                    <div class="col-sm-10">
                        <span *ngIf="f.submitted && f.controls['codigo1'].errors"
                            class="text-danger animated fadeIn"
                            >El código de barras es obligatorio.</span>
                        <input type="text" 
                                class="form-control"
                                name="codigo1"
                                [(ngModel)]="producto.codigo1"
                                placeholder="Código de barras del producto"
                                required
                                minlength="4"
                                autocomplete="off"
                        >
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <span *ngIf="f.submitted && f.controls['nombre'].errors"
                            class="text-danger animated fadeIn"
                            >El nombre es obligatorio.</span>
                        <input type="text" 
                                class="form-control"
                                name="nombre"
                                [(ngModel)]="producto.nombre"
                                placeholder="Nombre completo"
                                required
                                minlength="4"
                                autocomplete="off"
                        >
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Proveedor</label>
                    <div class="col-sm-10">
                        <select class="custom-select" 
                                id="inputGroupSelect01"
                                name="linea"
                                [(ngModel)]="producto.linea"
                                autocomplete="off"
                                >
                            <option *ngFor="let proveedor of proveedores;" value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                        </select>
                    </div>
                </div>

                
                <button type="submit" class="btn btn-success">Actualizar</button>
            </div>
        </form>
        <div class="form-group row ml-4">
            <button (click)='regresarPagina()' class="btn btn-default float-left">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            </button>
        </div>
        
    </div>

        
</section>

