<h1>Consultar Productos</h1>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Listado de Productos por Proveedor</h3>
                    </div>

                    <div class="card-body">
                        <p>Seleccione un proveedor</p>
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">Proveedor</label>
                            <div class="col-sm-5">
                                <select class="custom-select" 
                                        #terCodigo
                                        id="inputGroupSelect01"
                                        name="linea"
                                        autocomplete="off"
                                        >
                                    <option *ngFor="let proveedor of proveedores;" value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                                </select>
                            </div>
                            
                            <span class="input-group-btn">
                                <button type="button" (click)='buscarxlinea(terCodigo.value)' class="btn btn-info btn-flat">Buscar</button>
                            </span>
                            <label class="col-sm-2 col-form-label">Total: {{productos.length}}</label>
                            <span class="input-group-btn">
                                <button type="button" (click)='ngOnInit()' class="btn btn-info btn-flat">Todos los productos</button>
                            </span>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label">Código</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input #terCodigo1 type="text" class="form-control" placeholder="Código de barras">
                                    <span class="input-group-btn">
                                        <button type="button" (click)='buscarCodigo(terCodigo1.value)' class="btn btn-info btn-flat">Buscar</button>
                                    </span>
                                </div>
                            </div>
                            
                        </div>

                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Proveedor</th>
                                        <th>Detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let producto of productos | paginate: { itemsPerPage: itemxpagina, currentPage: pagina, totalItems: total }; let i = index ">
                                    <td scope="row">{{ itemxpagina * (pagina - 1) + (i+1) }}</td>
                                    <td>{{producto.codigo1}}</td>
                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.linea}}</td>                                    
                                    <td class="text-center">
                                        <button (click)="buscarId(producto.id)" class="btn btn-success mr-1">
                                            <i class="fa fa-info"></i>
                                        </button>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center mt-3">
                                <pagination-controls (pageChange)="pagina = $event"
                                                previousLabel="Anterior"
                                                nextLabel="Siguiente">
                            </pagination-controls>
                            </div>
                            
                        </div>

                    </div>     
                </div>
            </div>
        </div>
    </div>
</section>
    
    

