<h1>Proveedores</h1>
<section class="content">
    <div class="content px-2">
        <blockquote class="quote-olive">
            <h5 id="tip">Agregar y edite los proveedores</h5>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-light">
                        <div class="inner">
                            <h3><i class="fa fa-plus nav-icon"></i></h3>
                            <p>Agregar</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-th"></i>
                        </div>
                        <a  routerLink="/home/proveedor/agregar" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-light">
                        <div class="inner">
                            <h3><i class="fa fa-cog nav-icon"></i></h3>
                            <p>Editar</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-th"></i>
                        </div>
                        <a  routerLink="/home/proveedor/editar" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
        </div>
        </blockquote>

        <blockquote class="quote-orange mt-0">
            <h5 id="reminder">¡Recuerde!</h5>
            <p>No puede borrar proveedores.</p>
        </blockquote>

    </div>
</section>