<h1>Proveedores</h1>
<section class="content">
    <div class="content-header">
        <h1>Menú principal de Proveedores</h1>
    </div>
    <div class="content px-2">
        <p>En esta sección encuentra todo lo relacionado con los proveedores.</p>
        
        <blockquote class="quote-info">
            <h5 id="tip">Agregar proveedor</h5>
            <p>Cree proveedores de forma fácil, solo necesita un nombre.</p>
        </blockquote>

        <blockquote class="quote-info">
            <h5 id="tip">Actualizar proveedor</h5>
            <p>En está sección <strong>solo puede cambiar el nombre del proveedor</strong>.</p>
        </blockquote>

        <blockquote class="quote-orange mt-0">
            <h5 id="reminder">¡Recuerde!</h5>
            <p>No puede borrar proveedores.</p>
        </blockquote>

    </div>
</section>