/* .nav-pills .nav-link {
    color: rgb(0, 0, 0);
    cursor: default;
    background-color: #b1fdb8;
} */

.nav .nav-link:active  {    
    background-color: #b1fdb8;
}

.nav .nav-link:enabled {    
    background-color: #b1fdb8;
}
