/* .nav-pills .nav-link {
    color: rgb(0, 0, 0);
    cursor: default;
    background-color: #b1fdb8;
} */

.nav .nav-link:active  {    
    background-color: #e0e0e0;
}
 
.active-link {
  background-color: #e0e0e0;
}
